.name {
  display: inline-block;
  color: aliceblue;
  height: 50px;
  width: auto;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  flex-wrap: wrap;
}

.nav {
  
}

.greeting {
  text-align: center;
  padding: 20px;
}

.blog-description {
  text-align: center;
}