body {
  font-family: 'Open Sans', sans-serif;
}

.name {
  display: inline-block;
  color: aliceblue;
  height: 50px;
  width: auto;
  padding: 10px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  flex-wrap: wrap;
  border-radius: 7px;
}

.nav {
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 30px;
}

button {
  padding: 10px;
  margin: 10px;
  border: 3px solid violet;
  color: aliceblue;
  background-color: black;
  border-radius: 4px;
}

.greeting {
  text-align: center;
  padding: 20px;
}

.description-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: blueviolet;
  border-radius: 7px;
  margin-left: 37.5%;
  margin-right: 37.5%;
  padding: 3em;
}

.description-contents {
  text-align: left;
  color: aliceblue;
}