html {
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  background: #181818;
  min-height: 100%;
}

.name {
  display: inline-block;
  color: #faf8ff;
  height: 3em;
  width: auto;
  padding: 10px;
  margin-bottom: 2em;
  margin-left: 2em;
  font-style: italic;
  font-family: Garamond,'Courier New', Courier, monospace;
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(24,24,24);
  background: linear-gradient(90deg, #181818 20%, #8685ef 90%, #faf8ff 100%); 
  flex-wrap: wrap;
  border-radius: 7px;
}

.nav {
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 10%;
}

button {
  font-size: 12px;
  padding: 1em;
  margin: 1.5em;
  border: 3px solid #ddebeb;
  color: #faf8ff;
  background-color: #8685ef;
  border-radius: 4px;
  width: 6em;
  font-family: 'Courier New', Courier, monospace;
}

.homebtn:hover {
  background-color: #6260ec;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10em;
  background-color: #6260ec;
  border-radius: 3px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #6260ec;
  cursor: pointer;
}

.dropdown-content a {
  color: #faf8ff;
  padding: 10px 10px;
  display: block;
}

.greeting {
  text-align: center;
  padding: 20px;
  color: #8685ef;
}

#myExclamation {
  color:#faf8ff;
}

.description-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #2d2b39;
  border-radius: 7px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
  padding: 3em;
}

.description-contents {
  text-align: left;
  color: #faf8ff;
  margin-inline: auto;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 1em;
    margin: 1em;
    width: auto;
  }

  .description-flex-container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2em;
  }
}

.examples-output {
  padding: 1em;
  border: 1px solid #8685ef;
}

#first-paragraph {
  background-color: #8685ef;
}

.example-paragraph {
  background-color: #8685ef;
}

@media only screen and (max-width: 375px) {
  button {
    font-size: 10px;
    padding: 1em;
    margin: 0.5em;
    width: auto;
  }

  .description-flex-container {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1em;
    max-width: 335px;
  }
}